main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div {
    border: 3px solid red;
}

body {
    margin-bottom: 400px;
}

* {
    margin: 2px;
    padding: 2px;
}

.icon {
    border: 1px dotted red;
}

.file {
    border: 1px dotted blue;
}

.coding {
    border: 1px dotted blue;
}

#left-navi {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1;
}

#file-navi {
    flex-grow: 3;
}

#coding-area {
    flex-grow: 10;
}