/*global-reset*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    color: black;
}

body {
    background-image: url("./static/tree.jpeg");
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 50%;
}