/*global*/

* {
    margin: 0;
    padding: 0;
    border: 0px;
    box-sizing: border-box;
    font-family: monospace, cursive;
    color: white;
}

/*calculator-design*/

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: gray;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
}

.display {
    background-color: #4f4f4f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 25%;
    font-size: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow: auto;
}

.result {
    color: white;
}

.button__row {
    display: flex;
    flex: 1 0 auto;
}

.AC, .plus\/minus, .percent {
    background-color: rgb(96, 96, 96);
    color: white;
}

.button__row > button {
    flex: 1 0 25%;
    height: 45px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 3px 3px 3px gray;
}

.button__row::after {
    content: '';
    clear: both;
}

.button__row > .operator, .calculate {
    background-color: rgb(255, 159, 10);
    color: white;
}


.button__row > .number, .decimal, .zero {
    color: white;
    background-color: rgb(122, 122, 122);
}

.button__row > .zero {
    flex: 1 0 50%;
    border-bottom-left-radius: 10px;
}

.button__row > .calculate {
    border-bottom-right-radius: 10px;
}

.button__row > .number:active {
    color: black;
    box-shadow: inset 3px 3px 3px 3px #4f4f4f;
    transition-duration: 0.3s;
}

.button__row > .operator:active, .calculate:active {
    color: black;
    box-shadow: inset 3px 3px 3px 3px orangered;
    transition-duration: 0.3s;
}

.AC:active {
    color: red;
    box-shadow: inset 3px 3px 3px 3px #4f4f4f;
}

.plus\/minus:active {
    color: black;
    box-shadow: inset 3px 3px 3px 3px #4f4f4f;
}

.percent:active {
    color: black;
    box-shadow: inset 3px 3px 3px 3px #4f4f4f;
}

