h1 {
    background: gray;
    width: 60%;
}

p {
    background: rgba(255, 84, 104, 0.3);
    width: 80%;
    height: 200px;
}

span {
    background: yellow;
    display: inline-block;
    width: 100px;
    height: 100px;
}

p {
    border-width: 1px;
    /*border-radius: 10px;*/
    /*border-style: dotted;*/
    border-color: red;
    /*box-shadow: 5px 5px black;*/
}

/*p {*/
/*    margin-top: -2rem;*/
/*}*/

p {
    padding: 10px 20px 30px 40px;
    border: 1px solid red;
    background-color: lightyellow;
}

p {
    height: 40px;
    overflow: hidden;
}

#container {
    width: 300px;
    padding: 10px;
    background-color: yellow;
    border: 2px solid red;
}

#inner {
    width: 100%;
    height: 200px;
    border: 2px solid green;
    background-color: lightgreen;
    padding: 30px;
}

* {
    box-sizing: border-box;
}